/*
  #A839B2
  #FF0071
  #ACD030
  #58AA00
  #00AA78
  #0074AE

  text:
    #5c5c5c
*/

@font-face {
  font-family: 'SubSpace Tiny';
  src: url('../data/shared/fonts/Tiny.eot');
  src: local('☺'),
       url('../data/shared/fonts/Tiny.ttf') format('truetype');
}

@font-face {
  font-family: 'SubSpace Small';
  src: url('../data/shared/fonts/Small.eot');
  src: local('☺'),
       url('../data/shared/fonts/Small.ttf') format('truetype');
}

@font-face {
  font-family: 'SubSpace Regular';
  src: url('../data/shared/fonts/Regular.eot');
  src: local('☺'),
       url('../data/shared/fonts/Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SubSpace Large';
  src: url('../data/shared/fonts/Large.eot');
  src: local('☺'),
       url('../data/shared/fonts/Large.ttf') format('truetype');
}

@font-face {
  font-family: 'SubSpace Huge';
  src: url('../data/shared/fonts/Huge.eot');
  src: local('☺'),
       url('../data/shared/fonts/Huge.ttf') format('truetype');
}

body {
  margin: 0;
  background: #000;
  font-family: Verdana;
  font-size: 14pt;
  color: #ccc;
}

.title {
  padding: 40px 0 40px 80px;
  font-size: 55px;
  font-weight: 100;
  background: #111;
  border-bottom: 1px solid #222;
  color: #dd489a;
/*  color: #80d850;*/
/*  color: #36ade1;*/
}

.social {
  float: right;
  margin-left: 4px;
  margin-right: 8px;
}

.content {
}

.signin {
  font-size: 26px;
/*  color: #36ade1; */
  margin: 0 0 10px 0;
}

.title .dot {
  color: #fff;
}

/**************************************
              SCROLLBARS
 **************************************/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(30, 30, 30, 0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(30, 30, 30, 0.4);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/**************************************
              LOGIN VIEW
 **************************************/

#lv {
    display: none;
}

.lv-name {
  color: #a0a0a0;
  background: #2d2d2d;
  border: 1px solid #3c3c3c;
  padding: 5px 9px;
  margin: 0;
}

.lv-login-button {
  border: none;
  background: #00AA78;
/*  background: #80d850;*/
  color: #fff;
  padding: 5px 9px;
  margin: 0 0 0 5px;
}

/**************************************
              GAME VIEW
 **************************************/

#game {
  position: relative;
  font-family: 'SubSpace Regular';
  font-size: 12px;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

.gv-map-canvas {
}

/**************************************
              CHAT VIEW
 **************************************/

.cv {
  width: 80%;
  max-height: 80px;
  overflow: scroll;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0 0 0 5px;
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}

.cv-text-name {
  color: rgba(155, 215, 254, 1);
}

.cv-text-message {
  color: rgba(190, 190, 190, 1);
}

.cv-text-message > a:link {
  color: rgba(190, 190, 190, 1);
}

.cv-input {
  font-family: 'SubSpace Regular';
  font-size: 12px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: rgba(190, 190, 190, 1);
  background: rgba(0, 0, 0, 0);
  border: none;
  width: 80%;
  outline: none;
  display: none;
}

.cv-visible {
  display: block;
}

/**************************************
            SCOREBOARD VIEW
 **************************************/

.sv {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20%;
  height: 100%;
  padding: 5px;
  overflow: scroll;
  background: rgba(30, 30, 30, 0.5);
  -moz-transition: left 1s;
  -webkit-transition: left 1s;
  -ms-transition: left 1s;
}

.sv-hidden {
  left: -100%;
  -moz-transition: left 1s;
  -webkit-transition: left 1s;
  -ms-transition: left 1s;
}

.sv-row-friend {
  color: rgba(255, 206, 99, 1);
}

.sv-row-foe {
  color: rgba(198, 198, 247, 1);
}

.sv-score {
  float: right;
}

/**************************************
            LOADING VIEW
 **************************************/

.ldv-progress {
  margin: 40px 80px 0 80px;
  border: 3px solid #222;
}

.ldv-progress-value {
  background: #444;
  width: 0;
}

/**************************************
              DEBUG VIEW
 **************************************/

.dv {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #FF0071;
  padding: 5px 5px 0 0;
}
